<html>

    <head>
        <title>
            
            <%= tittle %>

        </title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
         <!-- font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    </head>
   <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <body>
<section class="container">
        <h1 style="text-align:center;color:yellow;">TODO APP</h1>

            <!-- form to create task -->
        <form action="/create-task" method="POST">

            <table class="table">
                <thead>
                  <tr class="table-active">
                    <th >Add Task</th>
                    <th >category</th>
                    <th >date</th>
                    <th ></th>
                  </tr>
                </thead>
            
            
                <tbody>
                    <tr>
                      <td><input type="text" name="description"placeholder="What do you need to do?" required></input></th>
                      <td ><select name="category" required>

                        <option>PERSONAL</option>
                        <option>WORK</option>
                        <option>SCHOOL</option>
                        <option>LEARNING</option>
                        <option>SHOPPING</option>
                        <option>OTHER</option>

                    </select></th>
                      <td ><input type="datetime-local" name="date" required></th>
                      <td ><input type="submit"  class="btn btn-success" id="add" value="ADD TASK"></th>
                    </tr>
                </tbody>
            
            </table>
                  
  </form>
</div class="container-task">
                  
                <h1 style="text-align:center;">TASKS LIST</h1>

                <ol >
                  <% for(let i of task){%>
                   
                   <li>
                       
                       <p><%='🚩'+ i.description %></p>
                       <span><%= i.category %></span>
                       <small><%=i.date%></small>
                   
                  
                      <a href="/delete-item/?id=<%= i._id %>">
                           <i class="fa fa-trash"></i>
                       </a> 
                  
                   </li>
                  </div>
                   <%}%>
               </ol>

               

        
            </div>
          </div>
    </body>
    <script>
      // when clicked checked green list
      var list = document.querySelector('ol');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

    </script>
</html>